In [1]:
# For loop

for x in range(2):
    print("Hi...")

Hi...
Hi...

In [2]:
for x in range(1,10):
    print("Hi...",x)

Hi... 1
Hi... 2
Hi... 3
Hi... 4
Hi... 5
Hi... 6
Hi... 7
Hi... 8
Hi... 9

In [3]:
for x in range(1,10,2):
    print("Hi...")

Hi...
Hi...
Hi...
Hi...
Hi...

In [4]:
n = int(input("Enter the no.:"))
for x in range(n):
    print(x)

Enter the no.:3
0
1
2

In [5]:
# String

a="Nikita"
for x in a:
    print(x)

N
i
k
i
t
a

In [6]:
for x1 in range(2):
    a=input("Enter city name:")
    for x in a:
        print(x)

Enter city name:Pune
P
u
n
e
Enter city name:Sangli
S
a
n
g
l
i

In [7]:
a="Nik"
for x in a:
    print(x)
    a=10
    b=2
    print("total",a*b)

N
total 20
i
total 20
k
total 20

In [8]:
a=input("Enter 1st name:...")
b=input("Enter 2nd name:...")
c=input("Enter 3rd name:...")
s=[a,b,c]
for x in s:
    print(x)

Enter 1st name:...Nikita
Enter 2nd name:...Neha
Enter 3rd name:...Diksha
Nikita
Neha
Diksha

In [9]:
#odd numbers
for b in range(1,30,2):
    print(b)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [10]:
#Even numbers
for x in range(2,30,2):
    print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28

In [11]:
# Table of 3
for x in range(3,33,3):
    print(x)

3
6
9
12
15
18
21
24
27
30

In [12]:
# Table by user
n= int(input("Enter the no.:"))
for x in range(n,n*11,n):
    print(x)

Enter the no.:3
3
6
9
12
15
18
21
24
27
30

In [13]:
# list
a=["Sangli","Pune","Delhi","Satara"]
for x in a:
    print(x)

Sangli
Pune
Delhi
Satara

In [14]:
a=["Sangli","Pune","Delhi","Satara"]
for x in a[3]:
    print(x)

S
a
t
a
r
a

In [15]:
a=["Sangli","Pune","Delhi","Satara"]
for x in a[1],a[3]:
    print(x)

Pune
Satara

In [16]:
a=["Sangli","Pune","Delhi","Satara"]
for x in a[2][3]:
    print(x)

h

In [17]:
a=["Sangli","Pune","Delhi","Satara"]
for x in a[1],a[2]:
    print(x)
    for x in a[1][3]:
        print(x)

Pune
e
Delhi
e

In [18]:
a=input("Your name:")
b=input("Your name:")
c=[a,b]
print(c)

Your name:Isha
Your name:Era
['Isha', 'Era']

In [19]:
a=input("Your name:")
b=input("Your name:")
c=[a,b]
print(c)
for x in a:
    print(x)

Your name:Arohi
Your name:Sahil
['Arohi', 'Sahil']
A
r
o
h
i