In [1]:
city_name=['Pune','Mumbai','kolhapur']
Pune=[]
Mumbai=[]
Kolhapur=[]
temp=[]
marksheet=[]
for city in city_name:
     if city=='Pune':
            for x1 in range(3):
                name=input("Enter the Name: ") #sachin
                Pune.append(name)
                for x2 in range(3):
                    marks=int(input("Enter the Marks:.."))
                    temp.append(marks)
            for m in temp:
                if m>=1 and m<35:
                    print("He is Failed")
                elif m>=35 and m<=60:
                    print("Pass with Good Marks")
                elif m>60 and m<=100:
                    print("Very Good Marks ")
                else:
                    print("Wrong Input......")

Enter the Name: Aaru
Enter the Marks:..56
Enter the Marks:..78
Enter the Marks:..44
Enter the Name: Pooja
Enter the Marks:..55
Enter the Marks:..40
Enter the Marks:..35
Enter the Name: Isha
Enter the Marks:..35
Enter the Marks:..34
Enter the Marks:..66
Pass with Good Marks
Very Good Marks
Pass with Good Marks
Pass with Good Marks
Pass with Good Marks
Pass with Good Marks
Pass with Good Marks
He is Failed
Very Good Marks

In [2]:
# This program: List 
city=['Pune','Mumbai','Nagpur']
Pune_stud=[]
for x in city:
    if x == 'Pune':
        for s in range(3):
            name=input("Enter the Name of Students..")
            Pune_stud.append(name)
print("My Pune Students: ",Pune_stud)

Enter the Name of Students..Tanisha
Enter the Name of Students..Kunal
Enter the Name of Students..Aadi
My Pune Students:  ['Tanisha', 'Kunal', 'Aadi']

In [3]:
# This program: SETS
city=['Pune','Mumbai','Nagpur']
Pune_stud=set()
for x in city:
    if x == 'Pune':
        for s in range(3):
            name=input("Enter the Name of Students..")
            Pune_stud.add(name)
print("My Pune Students: ",Pune_stud)

Enter the Name of Students..Swati
Enter the Name of Students..Neha
Enter the Name of Students..Pihu
My Pune Students:  {'Neha', 'Swati', 'Pihu'}

In [5]:
# This program: List 
city=['Pune','Mumbai','Nagpur']
Pune_stud=[]
Pune_Stud_Marks=[]
for x in city:
    if x == 'Pune':
        for s in range(3): # Sagar,Amit,Pooja
            name=input("Enter the Name of Students..")
            Pune_stud.append(name)
            Pune_Stud_Marks.append(name)
            for x1 in range(2):
                m=int(input("Enter the Marks: "))
                Pune_Stud_Marks.append(m)
        print('---------------------------------------------------------------')
        
 
print("My Pune Students Names: ",Pune_stud)
print("My Pune Students Names and Marks ",Pune_Stud_Marks)

Enter the Name of Students..Trupti
Enter the Marks: 45
Enter the Marks: 78
Enter the Name of Students..Vinay
Enter the Marks: 66
Enter the Marks: 77
Enter the Name of Students..Kartik
Enter the Marks: 86
Enter the Marks: 88
---------------------------------------------------------------
My Pune Students Names:  ['Trupti', 'Vinay', 'Kartik']
My Pune Students Names and Marks  ['Trupti', 45, 78, 'Vinay', 66, 77, 'Kartik', 86, 88]