In [1]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [2]:
ab=["Nik","Sayali","Neha"]
for x in range(2):
    a=input("Enter the name: ")
    ab.append(a)
print(ab)

Enter the name: Diksha
Enter the name: Nish
['Nik', 'Sayali', 'Neha', 'Diksha', 'Nish']

In [3]:
ab=["Nik","Sayali","Neha"]
for x in range(2):
    a=input("Enter the name: ")
    ab.append(a)
print(ab)
for i in ab:
    print("I am happy")

Enter the name: hgb
Enter the name: h
['Nik', 'Sayali', 'Neha', 'hgb', 'h']
I am happy
I am happy
I am happy
I am happy
I am happy

In [4]:
ad=["Nik","Sayali","Neha","Diksh"]
sm=["Satara","Delhi","Pune","sangli"]
for x in sm:
    if x=="Pune":
        for y in range(2):
            b=input("Enter the value: ")
            ad.append(b)
print(ad)

Enter the value: ghj
Enter the value: yu
['Nik', 'Sayali', 'Neha', 'Diksh', 'ghj', 'yu']

In [5]:
ab=["Nik","Sayali","Neha","Diksh"]
sn=["Satara","Delhi","Pune","sangli"]
for x in sn:
    if x=="Pune":
        ab.insert(0,"Ankita")
print(ab)

['Ankita', 'Nik', 'Sayali', 'Neha', 'Diksh']

In [6]:
# even odd

a=[20,30,40,25,35]
even=[]
odd=[]
for x in a:
    if x%2==0:
        even.append(x)
    else:
        odd.append(x)
            
print(even)
print(odd)

[20, 30, 40]
[25, 35]

In [7]:
b=even+odd
b

[20, 30, 40, 25, 35]

In [8]:
b.sort()
b

[20, 25, 30, 35, 40]

In [9]:

a=[22,13,41,20,30]
even=[]
odd=[]
for x in a:
    if x%2==0:
        even.append(x)
    else:
        odd.append(x)
even.sort()
odd.sort()
b=even+odd
b

[20, 22, 30, 13, 41]

In [10]:
# Swapping

a=[20,30,40,25,35]
a[0],a[4]=a[4],a[0]
a[1],a[3]=a[3],a[1]
print(a)

[35, 25, 40, 30, 20]