# 1) write a program on student marks take 2 students name and each five subject marks. calculate the total marks and avg.

In [1]:


marks=[]
for i in range(2):
    name=input("Enter the Name : ")
    for j in range(5):
        m=int(input("Enter the marks : "))
        marks.append(m)
        total=sum(marks)
        average=total/len(marks)
    print("Total Marks : ",total,"Average : ",average)
    print("-------------------------------------------------")

Enter the Name : Sayali
Enter the marks : 78
Enter the marks : 77
Enter the marks : 89
Enter the marks : 65
Enter the marks : 88
Total Marks :  397 Average :  79.4
-------------------------------------------------
Enter the Name : Seema
Enter the marks : 89
Enter the marks : 66
Enter the marks : 88
Enter the marks : 78
Enter the marks : 55
Total Marks :  773 Average :  77.3
-------------------------------------------------

# 2) Perform a star pattern

In [2]:
n=5
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

# 3) Perform a star pattern

In [10]:
n=5
for i in range(n-1):
    for j in range(n):
        print(" ",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()
for i in range(n):
    for j in range(n):
        print(" ",end=" ")
    for j in range(i,n):
        print("*",end=" ")
    print()

          *
          * *
          * * *
          * * * *
          * * * * *
          * * * *
          * * *
          * *
          *

# 4) Perform the operations on  array types.
# list

In [28]:
a=[1,2,3,4,5,6,7,8,9]
print(type(a))

<class 'list'>

In [29]:
print(len(a))

9

In [30]:
a[2:5]

[3, 4, 5]

In [31]:
a[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
a[-5:-1]

[5, 6, 7, 8]

In [33]:
a=[1,2,3,4,5]
b=[0,4,7,8,9]
a+b

[1, 2, 3, 4, 5, 0, 4, 7, 8, 9]

In [21]:
name="RacksonsIt"
q=name[8:10]
q

'It'

In [24]:
a=[]
a.append(q)
print(a)

['It']

In [25]:
w=["sayali","pooja","seema","asfiya"]
w.insert(3,"priti")

In [26]:
w

['sayali', 'pooja', 'seema', 'priti', 'asfiya']

In [65]:
w=["sayali","pooja","seema","asfiya"]
w.remove("pooja")
w

['sayali', 'seema', 'asfiya']

In [66]:
w1=["sayali","pooja","seema","asfiya","rati","priti"]
w1.pop()
w1

['sayali', 'pooja', 'seema', 'asfiya', 'rati']

In [36]:
a1=[78,98,54,32,12,69,77,33,41,95]
a1.sort()
a1

[12, 32, 33, 41, 54, 69, 77, 78, 95, 98]

# tuple

In [39]:
b=(1,2,3,4,5,6,7)
print(type(b))

<class 'tuple'>

In [40]:
print(len(b))

7

In [42]:
b[:]

(1, 2, 3, 4, 5, 6, 7)

In [43]:
b[:5]

(1, 2, 3, 4, 5)

In [44]:
b[3:6]

(4, 5, 6)

# set

In [53]:
c={"sayali","pooja","seema","kajal","ankita"}
print(type(c))

<class 'set'>

In [54]:
print(len(c))

5

In [57]:
c.add("asfiya")
c

{'ankita', 'asfiya', 'kajal', 'pooja', 'sayali', 'seema'}

In [60]:
a1={1,2,3,4,5}
b1={7,8,9,4,9}
c1=a1.union(b1)
print(c1)

{1, 2, 3, 4, 5, 7, 8, 9}

In [63]:
d={"sayali","pooja","seema","kajal","ankita","sayali"}
print(d)        # set not allow duplicate

{'seema', 'kajal', 'sayali', 'ankita', 'pooja'}

In [76]:
d={"sayali","pooja","seema","kajal","ankita"}

In [77]:
d.remove("kajal")
d

{'ankita', 'pooja', 'sayali', 'seema'}

In [78]:
d.remove("priti")

KeyError: 'priti'

In [81]:
d={"sayali","pooja","seema","kajal","ankita"}
d
d.discard("seema")
d

{'ankita', 'kajal', 'pooja', 'sayali'}

In [82]:
d.discard("priti")
d

{'ankita', 'kajal', 'pooja', 'sayali'}

# Dictionary

In [83]:
d={"Name":"sayali","Roll_No":123,"Email_id":"sayaliadsul2016"}
print(type(d))

<class 'dict'>

In [85]:
d.keys()

dict_keys(['Name', 'Roll_No', 'Email_id'])

In [86]:
d.values()

dict_values(['sayali', 123, 'sayaliadsul2016'])

In [89]:
d.items()

dict_items([('Name', 'sayali'), ('Roll_No', 123), ('Email_id', 'sayaliadsul2016')])

In [87]:
for i in d.keys():
    print(i)

Name
Roll_No
Email_id

In [88]:
for i in d.values():
    print(i)

sayali
123
sayaliadsul2016

In [90]:
for i in d.items():
    print(i)

('Name', 'sayali')
('Roll_No', 123)
('Email_id', 'sayaliadsul2016')

In [92]:
d["Mob_No"]=7896543
d

{'Name': 'sayali',
 'Roll_No': 123,
 'Email_id': 'sayaliadsul2016',
 'Mob_No': 7896543}

# 5) Functional Programming

In [7]:
def add(a,b):
    c=a+b
    return c
def stud():
    ab=add(a,b)
    marks=[]
    l1=["sayali","pooja","kajal","ankita","nikita","asfiya"]
    for x in l1:
        if x=="nikita":
            j=len(x)
            print("Length : ",j)
            for i in range(ab):
                m=int(input("Enter the marks : "))
                marks.append(m)
            print(marks)
            return j
def sub():
    s=stud()
    g=s+5
    print(g)
    
a=int(input("enter the a value : "))
b=int(input("enter the b value : "))

sub()

enter the a value : 5
enter the b value : 3
Length :  6
Enter the marks : 89
Enter the marks : 76
Enter the marks : 48
Enter the marks : 35
Enter the marks : 44
Enter the marks : 96
Enter the marks : 87
Enter the marks : 56
[89, 76, 48, 35, 44, 96, 87, 56]
11

# 6) class program

In [3]:
marks=[]
class data:
    def __init__(self,name,num):
        self.name=name
        self.num=num
        
    def sad(self):
        for j in range(5):
            m=int(input("Enter the marks : "))
            marks.append(m)
            total=sum(marks)
            average=total/len(marks)
        print(marks)
        print("Total : ",total)
        print("Average : ",average)
            
        
    def show(self):
        print("My name",self.name)
        print("My no.",self.num)
        
name=input("Enter the Name : ")
num=int(input("enter the number : "))
obj=data(name,num)
obj.sad()
obj.show()

Enter the Name : sf
enter the number : 33
Enter the marks : 35
Enter the marks : 48
Enter the marks : 78
Enter the marks : 44
Enter the marks : 56
[35, 48, 78, 44, 56]
Total :  261
Average :  52.2
My name sf
My no. 33