In [1]:
name=["Neha","Aaru"]
Mark=[]
Marks=[]
for x in name:
    if x=="Neha":
        for y in range(5):
            m=int(input("Enter the marks..."))
            Mark.append(m)
            total=sum(Mark)
            avg=total/len(Mark)
        print(Mark)
        print("Total marks..",total)
        print("Neha's Percentage is...",avg)
        print("---------------------------------------------")   
    elif x=="Aaru":
        for i in range(5):
            mk=int(input("Enter the marks..."))
            Marks.append(mk)
            total=sum(Marks)
            avg=total/len(Marks)
        print(Marks)
        print("Total marks...",total)
        print("Aaru's percentage is....",avg)

Enter the marks...89
Enter the marks...78
Enter the marks...63
Enter the marks...85
Enter the marks...45
[89, 78, 63, 85, 45]
Total marks.. 360
Neha's Percentage is... 72.0
---------------------------------------------
Enter the marks...78
Enter the marks...65
Enter the marks...45
Enter the marks...98
Enter the marks...88
[78, 65, 45, 98, 88]
Total marks... 374
Aaru's percentage is.... 74.8

In [2]:
for x in range(6):
    for y in range(x+1):
        print("*",end=" ")
    print( )

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [3]:
for x in range(6-1):
    for y in range(x+1):
        print("*",end=" ")
    print( )
    
for x in range(6):
    for y in range(x,6):
        print("*",end=" ")
    print( )

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [4]:
# List

# Insert
ab=["Neha","Aaru","Dev","Kunal","Sarthk"]
ab.insert(1,"Isha")
print(ab)

['Neha', 'Isha', 'Aaru', 'Dev', 'Kunal', 'Sarthk']

In [5]:
# Lenght
ab=["Neha","Aaru","Dev","Kunal","Sarthk"]
print(len(ab))

5

In [6]:
# Append
ab=["Neha","Aaru","Dev","Kunal","Sarthk"]
ab.append("Sunita")
print(ab)

['Neha', 'Aaru', 'Dev', 'Kunal', 'Sarthk', 'Sunita']

In [7]:
# Pop
ab=["Neha","Aaru","Dev","Kunal","Sarthk"]
ab.pop()
print(ab)

['Neha', 'Aaru', 'Dev', 'Kunal']

In [8]:
# concatenate
ab=["Neha","Aaru","Dev","Kunal","Sarthk"]
AA=["Mahesh","Surya","Shreya","Sakshi"]
at=ab+AA
print(at)

['Neha', 'Aaru', 'Dev', 'Kunal', 'Sarthk', 'Mahesh', 'Surya', 'Shreya', 'Sakshi']

In [9]:
# Tuple

AA=("Mahesh","Surya","Shreya","Sakshi")
print(len(AA))

4

In [10]:
# Concatenate
ab=("Neha","Aaru","Dev","Kunal","Sarthk")
AA=("Mahesh","Surya","Shreya","Sakshi")
F=ab+AA
print(F)

('Neha', 'Aaru', 'Dev', 'Kunal', 'Sarthk', 'Mahesh', 'Surya', 'Shreya', 'Sakshi')

In [11]:
AA=("Mahesh","Surya","Shreya","Sakshi")
D=AA*2
print(D)

('Mahesh', 'Surya', 'Shreya', 'Sakshi', 'Mahesh', 'Surya', 'Shreya', 'Sakshi')

In [20]:
# Set

at={"Neha","Aaru","Dev","Kunal","Sarthk"}
print(len(at))

5

In [21]:
# Add
at={"Neha","Aaru","Dev","Kunal","Sarthk"}
at.add("Mahi")
print(at)

{'Neha', 'Sarthk', 'Mahi', 'Aaru', 'Kunal', 'Dev'}

In [31]:
# Remove

name= {"Neha","Aaru","Dev","Kunal","Sarthk"}
name.remove("Dev")
print(name)

{'Neha', 'Sarthk', 'Aaru', 'Kunal'}

In [32]:
# Discard

name= {"Neha","Aaru","Dev","Kunal","Sarthk"}
name.discard("Neha")
print(name)

{'Sarthk', 'Aaru', 'Kunal', 'Dev'}

In [23]:
# Concatenate

at={"Neha","Aaru","Dev","Kunal","Sarthk"}
AD={"Mahesh","Surya","Shreya","Sakshi"}
B=at.union(AD)
print(B)

{'Sakshi', 'Neha', 'Mahesh', 'Sarthk', 'Shreya', 'Aaru', 'Kunal', 'Dev', 'Surya'}

In [24]:
# Dictionary

name={"Boys":"Amit",
      "Girls":"Pooja",
      "City":"Pune",
      "Pin Code":1234}

print(name)

{'Boys': 'Amit', 'Girls': 'Pooja', 'City': 'Pune', 'Pin Code': 1234}

In [25]:
name={"Boys":"Amit",
      "Girls":"Pooja",
      "City":"Pune",
      "Pin Code":1234}

print(name)

name["Colour"]="Red"

print(name)

{'Boys': 'Amit', 'Girls': 'Pooja', 'City': 'Pune', 'Pin Code': 1234}
{'Boys': 'Amit', 'Girls': 'Pooja', 'City': 'Pune', 'Pin Code': 1234, 'Colour': 'Red'}

In [26]:
name={"Boys":"Amit",
      "Girls":"Pooja",
      "City":"Pune",
      "Pin Code":1234}

print(name)

{'Boys': 'Amit', 'Girls': 'Pooja', 'City': 'Pune', 'Pin Code': 1234}

In [27]:
for x in name.values():
    print(x)

Amit
Pooja
Pune
1234

In [28]:
for x in name.keys():
    print(x)

Boys
Girls
City
Pin Code

In [29]:
for x,y in name.items():
    print(x,y)

Boys Amit
Girls Pooja
City Pune
Pin Code 1234

In [30]:
name["Girls"]

'Pooja'

In [33]:
class info:
    def __init__(self,name,num,city):
        self.name=name
        self.num=num
        self.city=city
        print("My name is...",self.name,"My num is....",self.num,"My city name is....",self.city)
        print("-----------------------------------------------------")
    
    def per(self):
        k=["Pune","Chennai","Hyderabad","Mumbai"]
        for p in k:
            if p=="Mumbai":
                print("Welcome to mumbai....")
            
        print("-------------------------------------")
        
    
    def opera(self):
        x1=[]
        for n in range(4):
            print("Hello")
            
        x1.append(n)
        print(x1)
        
        
a=input("Enter the name...")
b=int(input("Enter the num..."))
c=input("Enter the city name....")


o=info(a,b,c)
o.per()
o.opera()

Enter the name...nik
Enter the num...6548745
Enter the city name....pune
My name is... nik My num is.... 6548745 My city name is.... pune
-----------------------------------------------------
Welcome to mumbai....
-------------------------------------
Hello
Hello
Hello
Hello
[3]

In [18]:
mark=[]
def abc():
    name=("Neha","Aaru","Dev","Kunal","Sarthk")
    print(type(name))
    for x in name:
        if x=="Dev":
            print("I am dev...")
            print("*********************************")
            return name
def mar():
    ab=abc()
    for y in ab:
        if y=="Neha":
            for i in range(5):
                marks=int(input("Enter the marks : "))
                mark.append(marks)
                
                
            print(mark)
            print("*******************************************")
            return mark
            
def city():
    an=mar()
    citys={"Sangli","Pune","Vita","Kolhapur"}
    print(type(citys))
    for j in citys:
        if j=="Vita":
            print("Welcome to vita...")
    
            
            

            
city()

<class 'tuple'>
I am dev...
*********************************
Enter the marks : 89
Enter the marks : 75
Enter the marks : 63
Enter the marks : 88
Enter the marks : 65
[89, 75, 63, 88, 65]
*******************************************
<class 'set'>
Welcome to vita...